{deps, [
  {jiffy, "0.13.2",
    {git, "http://github.com/davisp/jiffy.git", {tag, "0.13.2"}}},
  {timing, ".*",
    {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
]}.

{port_specs, [{"priv/geohash_nif.so", ["c_src/*.c", "c_src/*.cpp"]}]}.

{port_env, [{"LDFLAGS", "$LDFLAGS -lstdc++"},
            {"CXXFLAGS", "$CXXFLAGS -Wall -std=c++11"}]}.
