<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Rectangles</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script>

var center = new google.maps.LatLng(46.100000,-75.300000);

elems = __GEOHASH_ELEMS__;

function initialize() {
  var map = new google.maps.Map(document.getElementById('map-canvas'), {
    zoom: 8,
    center: center,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var circles = elems.circles.map(function(circle) {
     new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: new google.maps.LatLng(circle.lat, circle.lon),
      radius: circle.radius*1000.0
    })
  });

  var rectangles = elems.rectangles.map(function(rectangle) {
    var color = '#'+Math.floor(Math.random()*16777215).toString(16);
    var ll = new google.maps.LatLng(rectangle.ll.lat, rectangle.ll.lon);
    var ur = new google.maps.LatLng(rectangle.ur.lat, rectangle.ur.lon);

    return new google.maps.Rectangle({
    strokeColor: color,
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: color,
    fillOpacity: 0.0,
    map: map,
    bounds: new google.maps.LatLngBounds(ll, ur)
  })});
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
